body {
  background-image: url('./—Pngtree—inspirational\ quotes\ of\ purple\ watercolor_1629654.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

nav {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

a {
  color: black
}

nav a {
  margin: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  font-family: 'Montserrat'

}

button {
  margin: 10px;
  cursor: pointer;
  border: 1px solid #cc6eef;
  background-color: #cc6eef;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'Montserrat'
}

button:hover {
  background-color: purple;
  transition: background-color 0.2s;
  color: white;
  border: 0px;
}

#quote-container {
  padding: 10px;
  width: 60%;
}

.single-quote {
  padding: 10px;
}

.quote-text {
  font-style: italic;
}

